<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MemberMapper">
	<insert id="registerMember" parameterType="member">
		INSERT
		INTO member(id, password, name, address)
		VALUES(
			#{id}, 
			#{password}, 
			#{name}, 
			#{address}
		)
	</insert>
	<select id="showAllMember" resultType="member">
		SELECT
		id, password, name, address
		FROM member
	</select>
	<select id="idExist" parameterType="string" resultType="string" >
		SELECT
		name
		FROM member
		WHERE id=#{VALUE}
	</select>
	<update id="updateMember" parameterType="member">
		UPDATE member
		SET name=#{name}
		WHERE id=#{id}
	</update>
	<select id="getMember" resultType="member" parameterType="string">
		SELECT
		id, password, name, address
		FROM member
		WHERE id=#{VALUE}
	</select>
	<select id="login" resultType="string" parameterType="member">
		SELECT
		name
		FROM member
		WHERE id=#{id} AND password=#{password}
	</select>
	<delete id="deleteMember" parameterType="string">
		DELETE
		FROM member
		WHERE id=#{id}
	</delete>
</mapper>